@import "./_variable.scss";

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  position:fixed;
  z-index: 10;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
body {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-style: normal;
    font-weight: normal;
}

*, *:before, *:after {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: none;
    color:inherit;
    cursor: pointer;
  }

h1 {
    font-family:'Shrikhand', cursive;
    margin: 15px;
  }

h2 {
    font-size:25px;
    font-weight:bold;
    
  }

h3 {
    font-size:17px;
    font-weight:400;
    text-transform: uppercase;
  }

h4 {
    font-size:17px;
    font-weight:510;
}

.btn {
    cursor:pointer;
  }

img {
    display:block;
    max-width: 100%;
    object-fit: cover;
  }

  

  /*Header*/

  .header-title {
    display:flex;
    justify-content: center;
    position:relative;
   
}

.header-menu {
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    
}

.fa-arrow-left {
    font-size:22px;
    position:absolute;
    left:20px;
    top: 20px;
}


/*Hero*/
.hero {
  padding:50px 20px;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  background-color: #f6f6f6;
}

.hero h2 {
  text-align:center;
  margin-bottom:12px;
  @media screen and (max-width:768px){
      max-width:250px;
  }
  
}

.hero-text {
  color:#4d4d4dcc;
  text-align:center;
  font-size:19px;
  font-weight:400;
  margin-bottom:30px;
}
.hero-btn, .ordering-btn {
  border-radius: 200px;
  padding: 17px 40px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border-color: #ffff;
  color: #ffff;
  filter: brightness(1);
  transition: all 0.25s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

/*Location*/
.location {
  display: flex;
  background-color:#eaeaea;
  padding:15px;
  justify-content: center;
  gap:15px;
}

/*Opération*/
.operation {
  padding:40px;
  @media screen and (max-width: 768px){
      padding:60px 20px;
  }
}

.operation h2 {
  text-align: center;
  margin-bottom:25px;
  @media screen and (max-width: 768px){
      text-align:left;
  }
}

.operation-steps {
  padding:10px;
  display:flex;
  justify-content: center;
  gap:40px;
  @media screen and (max-width: 768px){
      flex-direction:column;
      gap:22px;        
  }
}

.operation-step {
  position:relative;
  display:flex;
  align-items:center;
  background-color:$backgroundColorBloc;
  padding:25px 38px;
  border-radius:20px;
  box-shadow:$boxshadowColorCard;
  cursor: pointer;
  &:hover {
      background-color:$colorOperationCardHover;
      .operation-icon {
          color:$colorPrimary;
      }
  }
}

.operation-number {
  position: absolute;
  left:-8px;
  border-radius: 200px;
  background-color:$colorPrimary;
  color: #ffff;
  padding: 5px 9px;
}

.operation-step p {
  margin-left: 25px;
}
.operation-icon {
  color: #7d7d7d;
  text-align:center;
  width:20px;
  font-size:20px;
}

/*Restaurants*/
.restaurants {
  padding:50px 20px;
  background-color:$backgroundColorBloc;
  h2 {
      margin-bottom: 25px;
  }
}

.restaurants-lists {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  @media screen and (max-width:768px) {
      display:flex;
      flex-direction:column;
  }
}

.restaurant-card {
  position:relative;
  width: 25%;
  background-color:#ffff;
  border-radius: 20px;
  box-shadow: $boxshadowColorCard;
  @media screen and (max-width: 768px){
      width: 100%;
  }
}

.restaurant-image {
  height:180px;
  width:100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.restaurant-block {
  position:relative;
  padding:15px;
  display:flex;
  justify-content: space-between;
  h4 {
      margin-bottom:5px;
  }
}

.new-restaurant {
  color:$colorNewMenu;
  padding:7px 12px;
  background-color:$colorTertiary;
  position:absolute;
  top:10px;
  right:12px;
  font-size:14px;
}

.restaurant-location {
  font-size: 16px;
  font-weight:350;
}





/*Footer*/
footer {
  background-color:$backgroundColorFooter;
  color:#ffff;
  padding:40px 20px;
  display:flex;
  justify-content: space-between;
  @media screen and (max-width:768px) {
      flex-direction: column;
  }
}

.footer-title {
  font-size: 20px;
  font-weight: 400;
  font-family:'Shrikhand', cursive;
}

.footerlist {
  font-family: 'Roboto', sans-serif;
}

.footerlist-icon {
  text-align: center;
  font-size:12px;
  width:12px;
}

.footer-nav-bar{
  margin-left: 100px;
  display:flex;
  @media screen and (max-width:768px) {
      flex-direction: column;
      margin-left:0px;
      margin-top:20px;
  }
}

.footer-nav-bar a {
  list-style: none;
  display:flex;
  padding: 0px 30px;
  align-items: center;
  gap:10px;
  @media screen and (max-width:768px) {
      padding: 5px 0px;
  }
}